/* estilo de <p> */
p {
    color: tomato;
    font-weight: bolder;
}

/*estilo para classe (class="verde")*/
.verde {
    color: green;
    font-size: 42px;
}

/*estilo para id*/
#p2 {
    text-decoration: underline;
}
